@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 10px 20px 20px;
    background-color: #FBF8F1;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
    border-bottom: 5px;
    padding: 10px 20px;
    background-color: #fff;
}

h1{
    text-align: center;
}

h3, h4, h2{
    margin: 0;
}

#balance{
    margin: 0;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
}

.inc-exp-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid gray;
    align-items: center;
    box-shadow: 0 1px 3px gray;
}

.inc-exp-container p{
    margin: 5px 0;
}

.inc-exp-container > div{
    flex: 1;
    text-align: center;
}

.inc-exp-container >  div:first-of-type{
    border-right: 1px solid gray;
}

#expense{
    font-size: 20px;
    color: #FC4F4F;
}

#income{
    font-size: 20px;
    color: #42e92c;
}

h3{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.history ul{
    list-style-type: none;
    margin: 5px 0px;
    padding: 5px 5px 5px 20px;
}

.history ul li{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 5px gray;
    margin: 5px 0;
}

.delete-btn{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    border: none;
    background-color: #ff1d1d;
    color: #fff;
    padding: 3px 5px;
}

.history ul li.money_pluse{
    border-right: 5px solid #42e92c;
}

.history ul li.money_minus{
    border-right: 5px solid #FC4F4F;
}

label{
    display: inline-block;
    font-weight: 700;
    margin: 5px 0px;
}

input[type="text"], input[type="number"]{
    display: block;
    outline: none;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.submit{
    margin: 10px 0;
    width: 100%;
    height: 30px;
    background-color: #8A39E1;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

@media (max-width: 500px){
    body{
        padding: 0;
    }
}